extends layout

block content
  h1 This is DFUNKT REBORN!
  #user 
   if user
    p You are logged in as #{user}
    a(href='/login/logout') Logout
   else 
    a(href='https://login2.datasektionen.se/login?callback=http://localhost:3000/login/dauth/') Login

  h2 Creating a new user
  form(action="/users/create", method="post")
    input(type="text", name="name")
    input(type="submit")
    
  h2 Create a new Role
  form(action="/roles/create", method="post")
    input(type="text", name="name", placeholder="Name")
    input(type="text", name="description", placeholder="Desc")
    input(type="email", name="email", placeholder="mail")
    input(type="submit")
    
  h2 Creating a Mandate
  form(action="/mandates/create", method="post")
    input(type="date", name="start")
    input(type="date", name="end")
    input(type="text", list="users", name="username", placeholder="User")
    datalist#users 
      each user in users
        option(value=user.name)
    input(type="text", list="roles", name="rolename", placeholder="Role")
    datalist#roles 
      each role in roles
        option(value=role.name)
      
    input(type="submit")
    
  
  h1 Current state

  h2 Users

  ul
  each user in users
    li
      = user.name
    li
      = user.id
      
  h2 Roles
  
  ul
  each role in roles
    li
      ul
        li
          = role.name
        li    
          = role.description
        li    
          = role.email
        li    
          = role.id

  h2 Mandates
  each mandate in mandates
    ul
      li
        = mandate.UserId
      li
        = mandate.RoleId    
      li
        = mandate.start
      li
        = mandate.end
      
        
