extends layout

block content
    div(id='content')
      script(type="text/javascript").

      div(class='row')
        include sidebar
        div(class='col-sm-8 col-md-9')
          h1 Aktuella mandat
          table(class='table')
            thead
              tr
                th Namn
                th Grupp
                th E-post
                th Nuvarande innehavare
                th Slutdatum
            tbody
              each rolemandate in rolemandates
                if rolemandate.active || isadmin
                  if !rolemandate.Mandates.length
                    tr
                      th
                        a(href='/position/id/' + rolemandate.id)
                          = rolemandate.title
                      th
                        = rolemandate.Group.name
                      th
                        a(href='mailto:' + rolemandate.email)
                          = rolemandate.email
                      th 
                        = '(Vakant)'
                      th
                          = rolemandate.end
                  else
                    each mandate in rolemandate.Mandates
                      tr
                        th
                          a(href='/position/id/' + rolemandate.id)
                            = rolemandate.title
                        th
                          = rolemandate.Group.name
                        th
                          a(href='mailto:' + rolemandate.email)
                            = rolemandate.email
                        th 
                          a(href='/user/' + mandate.User.kthid)
                            = mandate.User.first_name + " " + mandate.User.last_name
                        th
                          = rolemandate.end

        div(class='clear')
      
