extends layout

block content
    div(id='content')
      div(class='row')
        include sidebar.jade
        div(class='col-sm-8 col-md-9')
          h1 Resultat
          p Listan kan vara inkomplett eller för stor. Stava inte fel och skriv så mycket du kan. Det här är tyvärr inte google, sökningen är inte "smart".
          each result in results
            h3 
              = result.cn
            p 
              = "kthid: "
              b 
                = result.uid
            hr

