doctype html
html
  head
    meta(charset="utf-8")
    title Dfunkt
    link(rel='stylesheet', href='http://aurora.froyo.datasektionen.se/', type="text/css")
    link(rel="icon", href="/public/favicon.png", type="image/png")
    script(type="text/javascript").
      function getLoginUrl() {
        var callback = ""
        callback += location.protocol + "//"
        callback += location.hostname
        if(location.port) {
          callback += ":" + location.port
        }
        callback += "/login/dauth/"
        return "http://login2.datasektionen.se/login?callback=" + callback
      }

      var loginname="#{user}";
      var login_text = "Logga in";
      var login_href = getLoginUrl();
      if(loginname != "") {
        login_text = "Logga ut";
        login_href = "/login/logout";
      }

      window.tbaas_conf = {
        system_name: "dfunkt",
        target_id: "methone-container-replace",
        primary_color: "#ab47bc",
        secondary_color: "white",
        login_text: login_text,
        login_href: login_href,
        delta_invert: true,
        topbar_items: []
      }
    script(async="", src="//methone.datasektionen.se").
  body
    div(id='methone-container-replace')
    div(id='application' class='purple')
      header
        div(class='header-inner')
          div(class='row')
            div(class='header-left col-md-2')
              a(href='/') Tillbaka
            div(class='col-md-8')
              h2 Dfunkt
            div(class='header-right col-md-2')
              a(href='https://github.com/datasektionen/dfunkt', class='primary-action') Github
          div(class='clear')
    block content