div(class='col-sm-4 col-md-3')
  div(id='secondary-nav')
    h3
      #user 
      if user
        p Logged in as #{user}
      else
        p Dfunkt
    ul
      li
        a(href='/') Hem
      li
        a(href='/kthpeople') Användar-lookup
    #isadmin
    if isadmin
      ul
        li
          a(href='/admin') Adminstrativt
