div(class='col-sm-4 col-md-3')
  div(id='secondary-nav')
    h3
      #user
      if user
        p Logged in as #{user}
      else
        p Dfunkt
    ul
      li
        a(href='/') Hem
      if issearch
        li
          a(href='/kthpeople') Användarsökningsfunktion
      if isadmin
        li
          a(href='/export') Användarexport
      if isadmin
        li
          a(href='/admin') Adminstrativt
      